modules = ["web", "nodejs-22", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg", "k6"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["resend:1.0.0", "twilio:1.0.0", "sendgrid:1.0.0", "google-mail:1.0.0", "outlook:1.0.0", "stripe:2.0.0", "javascript_openai_ai_integrations:2.0.0", "javascript_object_storage:2.0.0"]

[userenv]

[userenv.shared]
RESEND_API_KEY = "re_CvWGZtpF_HwRSetj8RaLWj9vzbv5hLBsH"
VAPID_PUBLIC_KEY = "BPGwQLVVht7e8JtDeceUQcbziC8gHd8CWwnh0jyrI-_KKhdoqg8QtvDNrJjSdpVB3uIIYkuJiA4aGFSzVIIbdJY"
VAPID_PRIVATE_KEY = "GrzjTQqk6ispv_pgiUZScEmU-XE9F9qfa5f665gaJzE"
SENDGRID_FROM_EMAIL = "noreply@aok.care"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51T7ERE7Vazo8P81naoVF2mCl2iG9DG8msEqXyxyhEEossvj4yq4t6Fa4JAMPOunb75lD6iuAll7wyuOYaeYg0JAB00DYsPmaGe"

[userenv.production]
APP_URL = "https://check-mate--ronnieghuman.replit.app"

[userenv.development]
TEST_ADMIN_EMAIL = "agent-test@aok.care"
TEST_ADMIN_PASSWORD = "TestAdmin123!"
